/* Soluzione qui */

@media screen and (min-width: 768px) {
    #topbar {
        justify-content: left;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 32px;
    }

    .quick-notes ul {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }

    .quick-notes li {
        flex-basis: calc(100% / 3 - (15px * 2) / 3);
        min-width: 199px;
    }

    .social-networks {
        gap: 10px;
    }

    .btn {
        padding: 10px 50px;
    }

    .ads {
        display: block;
    }

    .presentation img {
        display: inline;
        float: left;
        margin-right: 5px;
    }
}

@media screen and (min-width: 992px) {
    /* main {
        padding: 120px;
    } */

    .recipe-name {
        font-size: 40px;
    }

    .quick-notes ul {
        display: block;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        display: flex;
        flex-grow: 1;
        height: auto;
    }

    .btn {
        display: flex;
        gap: 3px;
        padding: 10px 35px;
    }

    .social-networks .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    address {
        text-align: left;
    }
}